.box-title{
    position: relative;
    top: 25px;
    margin: 20px;
    color: #ffffff;
    font-size: 26px;
}

#divider{
    background: black;
    margin-top: 35px;
    height: 1px;
}

#custom-button{
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 18px;
}

.sign-in-button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}