
#login-button {
    background: #0C45D9;
    color: #fff;
    border-radius: 20px;
    margin: 10px;
    text-transform: capitalize;
}

#register-button {
    background: #0616A1;
    color: #fff;
    border-radius: 20px;
    margin: 10px;
    text-transform: capitalize;
}

.welcomeText{
    text-align: left;
    margin-left: 4.5vw;
    font-size: 85px;
    font-weight: 500;
    letter-spacing: -0.105vw;
    color: #e3e8e6;
}

.description {
    color: #fff;
    margin-left: 4.5vw;
    width: 50%;
    margin-right: 4.5vw;
    font-size: 22px;
}

.description-dev {
    margin-right: 4.5vw;
    margin-left: 4.5vw;
    margin-bottom: 10px;
    color: #fff;
    font-family: Hack, monospace;
    font-size: 20px;
    font-weight: bold;
}

.link-users {
    margin-right: 4.5vw;
    margin-left: 10.5vw;
    color: #ffffff;
    font-family: Hack, monospace;
    text-decoration: none

}