.register-button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}

#create-account-button {
    color: #ffffff;
    font-size: 14px;
    background: #0C36C6;
    text-transform: capitalize;
    border-radius: 40px;
    border: 2px solid black;
}

#helper-text {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

#picture-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: white;
}